/* .menu-nav {
    background-color: #000;
    background-image: url('header.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
} */

/* 
.menu-nav {
    width: 100%;
    max-width: 100%;
    display: flex;
        background-image: url('header.png');
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.menu-nav {
    background-color: #000000;
    background-image: url('header.png');
    width: 100%;
    display: flex;
    justify-content: center;
}


.menu-nav a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Jaro';
    font-size: 50px;
    margin: 20px;
} */
body{
background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .logo {
    height: 150px;
    width: auto;
    max-width: 100%;
    display: block;
} */



#masdestacado {
    font-family: 'Jaro';
    font-size: 4vw;
    margin: 20px;
    margin-left: 7.5%;
}


.color-rojo{
color: #C20101;
}

#pizzainicio{
width: 85%;
height: 45vw;
border: 4px solid #000000;
display: block;
margin-left: auto;
margin-right: auto;
}

h2{
font-family: 'Alkatra', cursive;
font-size: 2.2vw;
margin: 20px;
margin-left: 7.5%;
margin-right: 32%;
margin-top: 2px;
}



#textochico{
position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 1%; 
    font-size: 1.4rem;
    font-family: 'Jaro';
    color: white;
    margin: 0; /
}

#headerchico{
width: 85%;
height: 6vh;
display: block;
margin-left: auto;
margin-right: auto;
}

.divheaderchico{
position: relative; 
width: 100%;
max-width: 100%;
}

/*CARRUSEL*/
.carrusel-contenedor {
    position: relative;
    width: 85%;
    margin: 0 auto;
    overflow: hidden; 
    border: 4px solid #000000;
}

.carrusel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%; 
}


.slide-img {
    width: 50%; 
    height: 45vw; 
    object-fit: cover;
}


.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
}

.izq { left: 10px; }
.der { right: 10px; }

.divheaderchico {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

#headerchico {
    width: 100%;
    height: 6vh;
}

.kebab{
font-family: 'Jaro';
    font-size:2.4vw;
    margin: 20px;
    margin-left: 7.5%;
}

 /* SERVICIOS */
.contenedor-servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;       
  justify-content: flex-end; 
  align-items: flex-end;
  gap: 2vw;                  
  width: 100%;
  padding-right: 5%;         
}

.servicio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(60px, 10vw, 100px); 
  text-align: center;
}

.servicio-item img {
  width: 100%;
  margin-right: 85%;             
  height: auto;
  object-fit: contain;
}

.servicio-item p {
  font-family: jaro;
  font-size: clamp(0.6rem, 1vw, 0.9rem);
  margin-top: 5px;
  line-height: 1.1;
  margin-right: 85%;
}

@media (max-width: 768px) {
  .contenedor-servicios {
    justify-content: center; 
    padding-right: 0;        
    margin: 20px 0;
    margin-left: 8%;        
  }

  .servicio-item {
    width: 18vw;
    
  }
}


/*MENU-NAVEGACION*/

.menu-nav {
  display: flex;
  align-items: center;      
  justify-content: space-around; 
  padding: 10px 2%;
  width: 100%;
  background-image: url('header.png');
  box-sizing: border-box;
  background-color: #fff;   
}

.logo {
  max-width: 120px;         
  width: 15vw;              
  min-width: 50px;   
  height: auto;
}

.menu-item {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: jaro;
  font-size: clamp(1rem, 1.5vw, 1.8rem); 
  white-space: nowrap;    
}
@media (max-width: 768px) {
  .menu-nav {
    flex-wrap: wrap;        
    gap: 10px;
  }
  
  .menu-item {
    font-size: 1rem;    
  }
}


.menu-item {
  position: relative; 
  padding-bottom: 5px;
}

.menu-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; 
  background-color: white; 
  border-radius: 2px;
}


.menu-item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: grey; 
}


/*CUADRO*/

.banner-ofertas {
  background-color: #dcdcdc;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid #333;
  margin-left: 7%;
  margin-right: 7%;
}

.cabecera h1 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  margin-bottom: 5px;
  font-family: jaro;
}

.contenido-principal {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  margin-top: 20px;
  font-family: jaro;
}


.botones-lateral {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 200px;
  
}

.btn {
  background-color: #C20101;
  color: white;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  
}


.seccion-ofertas {
  flex: 3;
  min-width: 300px;
  text-align: center;
  
}

.seccion-ofertas h2 span {
  color: #C20101;
  
}

.grid-productos {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  
}

.producto {
  background: rgb(255, 255, 255);
  padding: 10px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.producto img {
  width: 100%;
  height: auto;
}

.producto span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.etiqueta-oferta {
  background-color: #C20101;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px 0;
  font-weight: bold;
  
}

p{
font-family: 'Alkatra', cursive;
}

.peninsula{
font-family: jaro;
margin-left: 7%;
font-size: 4vw;

}

.peninsula-content{
margin-left: 7%;
}

/*FOOTER*/

.main-footer {
  background-color: #111; 
  background-image: url('header.png');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  color: white;
  border-top: 2px solid #333;
}

.footer-column {
  flex: 1;
  font-family: jaro; 
  font-size: clamp(0.7rem, 1.2vw, 0.9rem);
}

.footer-column.right {
  text-align: right;
}

.footer-logo {
  flex: 0 1 150px; 
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.resaltado {
  font-weight: bold;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .main-footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  .footer-column.right {
    text-align: center;
  }
}





/*CARTA*/
.menu-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-left: 17%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.tab-btn {
  padding: 15px;
  font-family: Jaro;
  font-size: 1.4rem;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #C20101; 
  text-align: center;
 
}

.tab-btn.active {
  background-color: #000;
}

.tab-content {
  display: none;
  background-color: #000;
  color: white;
  padding: 20px;
  width: 100%;
}

.tab-content.active {
  display: block;
}


.productos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  padding: 20px;
}

.producto-card {
  text-align: center;
}

.producto-card img {
  width: 100%;
  height: auto;
  border: 2px solid #C20101; 

}

.producto-card h3 {
  font-family: Jaro;
  font-size: 1.1rem;
  margin: 10px 0;
  text-transform: uppercase;
}

.producto-card p {
  font-size: 0.85rem;
  line-height: 1.4;
  color: #ccc; 
}
/* 
/*SOBRE NOSOTROS*/

/*texto fundados en 1979*/
h2 span{
    color:#C20101
}

.fundacion{
    background-color:#D8D8D8 ;
    border-style:solid;
    border-color: #C20101;
    border-width: 0.3vw;
    width:90%;
    margin-left: 5%;
}

.fundacion p{
    font-size: 2vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-family: 'Alkatra', cursive;
    text-align: justify;
}

/* h2{
    font-size: 4vw;
    margin-left: 4.7vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-family: 'Jaro', sans-serif;
} */

/*texto nuestro personal*/

#personalnuestro , #fundados{
transform: translate(-2.5vw);
}
.personal{
     background-color:#D8D8D8 ;
    border-style:solid;
    border-color:#C20101;
    border-width: 0.3vw;
    width:90%;
    margin-left: 5%;
    
}

.personal p{
    font-size: 2vw;
    margin-bottom: 2.5vw;
    margin-top: 2.6vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-family: 'Alkatra', cursive;
    text-align: justify;
}


/*cristiano*/

.cristiano img{
    width:20vw;
    margin-left: 4.7vw;
}

.cristiano h2{
  transform: translate(-2.5vw);
}

.cristiano h3{
    color:#C20101;
    font-size: 3vw;
    margin-left: 30vw;
    transform: translate(0vw,-27vw);
    
}
.cristiano p{
    background-color:#D8D8D8 ;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.3vw;
    margin-left: 30%;
    text-align: justify;
    width:62vw;
    height:20vw;
    transform: translate(0vw,-25vw);
    padding:2.8vw;
    line-height: 5vw;
    
}

#bandera_portugal{
    transform: translate(42vw,-25vw)

}

/*antony*/

.antony img{
    width:20vw;
    margin-left: 4.7vw;
    transform:translate(0vw,-10vw)
}

.antony h2{
    transform:translate(-2.5vw,-50vw)
}
.antony h3{
    color:#C20101;
    font-size: 3vw;
    margin-left: 30vw;
    transform: translate(0vw,-47vw);
}

#bandera_turquia{
   transform:translate(42vw,-38vw) 
}

.antony p{
 background-color:#D8D8D8 ;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.3vw;
    margin-left: 30%;
    text-align: justify;
    width:62vw;
    height:20vw;
    transform: translate(0vw,-45vw);
    padding:3vw;
    line-height: 5vw;
}

/*alexia*/

.alexia img{
    width:20vw;
    margin-left: 4.7vw;
    transform:translate(0vw,-25vw);
}

.alexia h2{
    transform:translate(-2.5vw,-70vw)
}

.alexia h3{
    color:#C20101;
    font-size: 3vw;
    margin-left: 30vw;
    transform: translate(0vw,-68vw);
}

.alexia p{
    background-color:#D8D8D8 ;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.3vw;
    margin-left: 30%;
    text-align: justify;
    width:62vw;
    height:20vw;
    transform: translate(0vw,-65vw);
    padding:3vw;
    line-height: 5vw;
}

#bandera_espana{
    transform:translate(42vw,-57vw);
} 


/*RESTAURANTES*/
/*barcelona*/
#restaurantenuestro{
transform: translate(-3.5vw,2vw);
}
.barcelona{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    transform: translate(-1vw,-10vw);
}

.barcelona h2{
    grid-row: 1;
    grid-column: 1;
    font-size: 2.8vw;
    font-family: 'Jaro', sans-serif;
    transform: translate(45vw,12vw);
    width:40vw;
}

.barcelona h2 span{
    color:#C20101;
}


.barcelona img{
    width:40vw;
    grid-row:2;
    grid-column: 1;
    transform: translate(4vw,-18vw);
}

.barcelona p{
    grid-row:2;
    grid-column: 2;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    background-color:#D9D9D9;
    transform: translate(8vw,-21vw);
    width: 40vw;
    text-align: justify;
    padding: 3vw;
    border-style: solid;
    border-color: #C20101;
    line-height:4vw ;
    border-width: 0.25vw;
}

/*madrid*/


 .Madrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    transform: translate(3.5vw,-58vw);
}
 

.Madrid h2{
    grid-row: 1;
    grid-column: 1;
    font-size: 2.8vw;
    font-family: 'Jaro', sans-serif;
    transform: translate(41vw,35vw);
}

.Madrid h2 span{
    color:#C20101;
}

.Madrid img{
    width:40vw;
    grid-row:2;
    grid-column: 1;
    transform:translate(-0.6vw,3.5vw)
}

.Madrid p{
    grid-row:2;
    grid-column: 2;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    background-color:#D9D9D9;
    width: 40vw;
    text-align: justify;
    padding: 3vw;
    border-style: solid;
    border-color: #C20101;
    line-height:6vw ;
    border-width: 0.25vw;
    transform:translate(4vw,-2vw)
}

/*Malaga*/

 .Malaga{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    transform: translate(3vw,-83vw);
    margin-bottom: -55%;
}
 

.Malaga h2{
    grid-row: 1;
    grid-column: 1;
    font-size: 2.8vw;
    font-family: 'Jaro', sans-serif;
    transform: translate(41vw,34vw);

}

.Malaga h2 span{
    color:#C20101;
}

.Malaga img{
    width:40vw;
    grid-row:2;
    grid-column: 1;
    transform: translate(-0.3vw,4vw);
}

.Malaga p{
    grid-row:2;
    grid-column: 2;
    font-family: 'Alkatra', cursive;
    font-size: 2vw;
    background-color:#D9D9D9;
    width: 40vw;
    text-align: justify;
    padding: 3vw;
    border-style: solid;
    border-color: #C20101;
    line-height:5.5vw ;
    border-width: 0.25vw;
    transform:translate(4vw)
}