/* .menu-nav {
    background-color: #000;
    background-image: url('header.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
} */

@media (max-width: 1920px) {
.menu-nav {
    width: 100%;
    max-width: 100%; 
    display: flex;
        background-image: url('header.png');
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px;
}

.menu-nav {
    background-color: #000000;
    background-image: url('header.png');
    width: 100%;
    display: flex;
    justify-content: center; 
}


.menu-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Jaro';
    font-size: 50px;
    margin: 20px;
}
body{
background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 150px; 
    width: auto;
    max-width: 100%;
    display: block;

}





}
@media (max-width: 600px) {
.menu-nav {
    width: 100%;
    max-width: 100%; 
    display: flex;
        background-image: url('header.png');
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px;
}

.menu-nav {
    background-color: #000000;
    background-image: url('header.png');
    width: 100%;
    display: flex;
    justify-content: center; 
}


.menu-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Jaro';
    font-size: 25px;
    margin: 20px;
}
body{
background-color: #610404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 60px; 
    width: auto;
    max-width: 90%;
    display: block;

}

#restaurante {
display:none;
}



}