.carousel-container {
    position: relative;
    width: 85%;
    margin: 0 auto;
    overflow: hidden; 
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: 100%;
}

.slide {
    min-width: 100%; 
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

.left { left: 10px; }
.right { right: 10px; }